%table
    %tr
        %td
            %fieldset
                %legend 
                    Filtros para la exportación:
                %button.accordion
                    Exportar a Excel
                .panel
                    %br
                    %br
                    %form{action: "/reportes.xlsx?reporte_producto=true", method: "get"}
                        .parametros
                        %input{ :type => "text", :name => "nombre_empresa", :placeholder => "Empresa"}
                        %input{ :type => "text", :name => "prefijo", :placeholder => "Prefijo"}
                        %input{ :type => "text", :name => "tipo_gtin", :placeholder => "Tipo GTIN"}
                        %input{ :type => "text", :name => "gtin", :placeholder => "GTIN"}
                        %input{ :type => "text", :name => "descripcion", :placeholder => "Descripción"}
                        %input{ :type => "text", :name => "marca", :placeholder => "Marca"}
                        %input{ :type => "text", :name => "estatus", :placeholder => "Estatus"}
                        %input{ :type => "text", :name => "codigo_producto", :placeholder => "Código Prod"}
                        %input{ :type => "text", :name => "clasificacion", :placeholder => "Clasificación"}
                        %input{ :type => "text", :name => "pais", :placeholder => "Paises Comercialización"}
                        %input{ :type => "text", :name => "fecha_creacion", :placeholder => "Fecha Creación"}
                        %input{ :type => "text", :name => "fecha_ultima_modificacion", :placeholder => "Fecha Modificación"}
                        %br
                        %br
                        %button.ui-state-default.ui-corner-all.exportar_reporte_productos{:type => "submit", :title => "Opción que te permite exportar el listado general de Productos a formato Excel"}
                            %span.ui-icon.ui-icon-disk
                            Exportar Excel
                %button.accordion
                    Exportar a PDF
                .panel
                    %form{action: "/reportes.pdf?reporte_producto=true", method: "get", target: "_blank"}
                        .parametros
                        %br
                        %br
                        %input{ :type => "text", :name => "nombre_empresa", :placeholder => "Empresa"}
                        %input{ :type => "text", :name => "prefijo", :placeholder => "Prefijo"}
                        %input{ :type => "text", :name => "tipo_gtin", :placeholder => "Tipo GTIN"}
                        %input{ :type => "text", :name => "gtin", :placeholder => "GTIN"}
                        %input{ :type => "text", :name => "descripcion", :placeholder => "Descripción"}
                        %input{ :type => "text", :name => "marca", :placeholder => "Marca"}
                        %input{ :type => "text", :name => "estatus", :placeholder => "Estatus"}
                        %input{ :type => "text", :name => "codigo_producto", :placeholder => "Código Prod"}
                        %input{ :type => "text", :name => "clasificacion", :placeholder => "Clasificación"}
                        %input{ :type => "text", :name => "pais", :placeholder => "Paises Comercialización"}
                        %input{ :type => "text", :name => "fecha_creacion", :placeholder => "Fecha Creación"}
                        %input{ :type => "text", :name => "fecha_ultima_modificacion", :placeholder => "Fecha Modificación"}
                        %br
                        %br
                        %button.ui-state-default.ui-corner-all.exportar_reporte_productos{:type => "submit", :title => "Opción que te permite exportar el listado general de Productos a formato PDF"}
                            %span.ui-icon.ui-icon-disk
                            Exportar PDF
                        /=link_to "Exportar CSV", "/reportes.csv?exportar_csv_auditoria_service_retail_productos=true", {:title => "Formato  CSV auditoría Service Retail"}
:javascript
    var acc = document.getElementsByClassName("accordion");
    var i;
  
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
        });
    }
